//모양, 글씨체 공통 스타일
%btn-base {
  @include inline-flexbox;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

// btn이 바뀌는 3가지 요소 : styles, sizes, states
//각각 요소별로 선언(섞으면 X)
//button styles 선언 후 states도 선언 (&사용)
//button states (default, hover, disabled, focus, active)

.btn-primary {
  @extend %btn-base;
  color: $white;
  background-color: $blue;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-dark;
  }
}

.btn-secondary {
  @extend %btn-base;
  color: $primary;
  background-color: $border;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $tertiary;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @extend %btn-base;
  color: $primary;
  background-color: transparent;
  transition: color 200ms ease-in-out;

  &:not(:disabled):hover {
    color: $secondary;
  }
}

//button size
// 재사용 되는 버튼의 width는 안에 있는 text에 따라서 많이 변하기 때문에 선언 하지 않는것이 좋음
//height에 따라 선언, 또 base extend 할 필요 없음
.btn-32 {
  @include text-style(14);
  height: 32px;
}

.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-48 {
  @include text-style(16);
  height: 48px;
}

.btn-55 {
  @include text-style(18);
  height: 55px;
}
