.global-header {
  width: 100%;
  height: $gnb-height-sm + $lnb-height-sm;

  .gnb,
  .lnb {
    position: fixed;
    left: 0;
    width: 100%;
  }

  .gnb {
    top: 0;
    // position:fixed때문에 search-modal, my-menu가 lnb보다 밑에 있는것 보완
    z-index: $gnb-level;
  }

  .lnb {
    top: $gnb-height-sm;
    //gnb보다 낮게
    z-index: $lnb-level;
  }

  @include responsive(T) {
    height: $gnb-height-md + $lnb-height-md;

    .lnb {
      top: $gnb-height-md;
    }
  }
}
