.lnb {
  $lnb-link-padding: 8px;
  // 그리드 시작점에서 뷰포트 시작점 까지 거리
  $grid-margin: $sm-margin + $gutter / 2;

  @include no-scrollbar;
  overflow-x: auto;

  &-list {
    @include inline-flexbox(start);
    // border색 보더를 그리드 시작점에서 왼쪽으로 붙이기
    margin-left: -#{$grid-margin};
    // 글자랑 파란 보더는 시작점 7px
    padding: 0 #{$grid-margin - $lnb-link-padding};
    height: 40px;
    border-bottom: 1px solid $border;
    // list-content(=a)가 안찌그러지게
    white-space: nowrap;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      //item안에서 가운데 정렬, width지정 안하면 가지고있는 content의 폭 만큼으로 자동 지정
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }
}
